.auth {
  background: url("../admin/images/home-bg.jpg") no-repeat;
  font-family: "Dancing Script", cursive;
  color: #635b5b;
}
.auth-form {
  margin-top: 50px;
}
.auth-form > form > p {
  margin-top: 30px;
}
.auth-form > form > p > a {
  color: #ff3838;
  position: relative;
}
.auth-form > form > p > a::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #ff3838;
  left: 0;
  bottom: 0;
  width: 0;
}
.auth-form > form > p > a:hover {
    text-decoration: none;
}
.auth-form > form > p > a:hover::after {
    width: 100%;
    right: 0;
    transition: all 0.5s;
}
.auth-form form {
  border-radius: 1rem;
  box-shadow: 0px 0px 100px #ccc;
  text-align: center;
  padding: 20px 20px;
  width: 450px;
  margin: 0 auto;
  font-size: 25px;
}
.auth .form-control,
.auth .btn {
  font-size: 20px;
  border-radius: 10px;
}
.btn-primary {
  background: #ff3838;
  border-style: none;
  color: #fff;
  width: 70%;
  opacity: 0.8;
}
.btn-primary:hover {
  opacity: 1;
  background-color: #ff3838;
  border: none;
  transition: all 0.5s;
}

/* responsive */
@media (max-width: 450px) {
  .auth-form form {
    width: 90%;
  }
  .auth-form > form > p > a  {
    margin: 30px;
  }
}

