.wrap {
  background: url("images/home-bg.jpg");
  font-weight: bold;
  font-size: 0.8rem;
}
.nav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f78888;
  color: white;
}
.nav > div:first-child {
  display: flex;
}
.nav-bar a {
  display: inline-block;
  margin-right: 1rem;
}
.content {
  margin-top: 3%;
  display: flex;
}
.sidebar {
  width: 40%;
  height: max-content;
  padding: 1rem;
  background-color: #f78888;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%)
}
.sidebar ul li {
  list-style: none;
}
.sidebar ul li a {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.7rem;
  color: white;
  font-weight: bold;
}
.sidebar ul li a:hover {
  text-decoration: underline;
}
.box_content {
  margin-left: 3rem;
  margin-top: 3%;
  width: 100%;
}
.total {
  display: flex;
  justify-content: space-between;
}
.total > div {
  width: calc((100% - 3rem) / 4);
  padding: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%)
}
.total > div > div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.set {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
    margin-top: 3rem;
    padding: 1rem;
}
.set h2 {
    text-align: center;
    padding: 1rem;
}
.set form .inputBox {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
.set .inputBox > div {
    width: 100%
}
.set .inputBox > div > label {
    margin-bottom: 0.5rem;
}
.set input {
    border: 1px solid #ccc;
    display: block;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
}
.set .show {
    display: inline-flex;
    align-items: center;
    margin: 2% 0;
    gap: 0.2rem;
}
.set .show input {
    width: unset;
}
.set input[type="file"] {
    padding: 0.5rem;
    font-weight: bold;
    position: relative;
}
::-webkit-file-upload-button {
    background-color: var(--red);
    border-radius: 0.5rem;
    color: white;
    border: none;
    padding: 0.5rem;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}
::-webkit-file-upload-button:hover {
    opacity: 0.7;
}
.set .btn {
    background-color: white;
    padding: 0.3rem 1rem;
    font-size: 1.1rem;
    color: white;
    background-color: var(--red);
}
.set .btn:hover {
    opacity: 0.7;
}
.total p {
    border-radius: 0.5rem;
    background-color: greenyellow;
    padding: 0.3rem;
}
