.wrap {
  background: url("images/home-bg.jpg");
  font-weight: bold;
  font-size: 0.8rem;
}
.nav {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #f78888;
  color: white;
}
.nav > div:first-child {
  display: flex;
}
.nav-bar a {
  display: inline-block;
  margin-right: 1rem;
}
.content {
  margin-top: 3%;
  display: flex;
}
.sidebar {
  width: 40%;
  height: auto;
  background-color: #f78888;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}
li {
  list-style: none;
}
.sidebar > ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
  border-bottom: 1px solid #fff;
  position: relative;
}
.sidebar > ul > li > a {
  display: flex;
  padding: 10px 0 10px 10px;
  gap: 0.5rem;
  color: white;
  font-weight: bold;
}
.sidebar ul li a:hover {
  text-decoration: underline;
}
.sidebar ul li:hover .fa-hand-point-right {
  display: block;
}
.fa-hand-point-right {
  display: none;
  color: white;
}
.box_content {
  padding-left: 5%;
  margin-top: 3%;
  width: 100%;
}
.total {
  display: flex;
  justify-content: space-between;
}
.total > div {
  width: calc((100% - 3rem) / 4);
  padding: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
}
.total > div > div {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}
.set {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
  padding: 1rem;
}
.set h2 {
  text-align: center;
  padding: 1rem;
}
.set form .inputBox {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}
.set .inputBox > div {
  width: 100%;
}
.set .inputBox > div > label {
  margin-bottom: 0.5rem;
}
.set input,
textarea {
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
textarea {
  resize: none;
}
.set .show {
  display: inline-flex;
  align-items: center;
  margin: 2% 0;
  gap: 0.2rem;
}
.set .show input {
  width: unset;
}
.set input[type="file"] {
  padding: 0.5rem;
  font-weight: bold;
  position: relative;
}
::-webkit-file-upload-button {
  background-color: var(--red);
  border-radius: 0.5rem;
  color: white;
  border: none;
  padding: 0.5rem;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;
}
::-webkit-file-upload-button:hover {
  opacity: 0.7;
}
.set .btn {
  background-color: white;
  padding: 0.3rem 1rem;
  font-size: 1.1rem;
  color: white;
  background-color: var(--red);
}
.set .btn:hover {
  opacity: 0.7;
}
.total p {
  border-radius: 0.5rem;
  background-color: greenyellow;
  padding: 0.3rem;
}
.dropdown {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  object-fit: cover;
  width: 80%;
  box-shadow: 0 0.5rem 1rem 1rem rgb(0 0 0 / 10%);
  z-index: 10;
  background: #f3f3f3;
}
.dropdown li {
  padding: 0.8rem;
}
.dropdown li a {
  color: #666;
  padding-left: 0.5rem;
}
.dropdown li:hover {
  background-color: #f78888;
}
.dropdown li:hover a {
  color: white;
}
.sidebar > ul > li:hover .dropdown {
  display: block;
}
table{
  border-collapse: collapse;
  width: 100%;
}
 td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr:hover {
  background-color: #ddd;
}
table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--red);
  color: white;
}
.list {
  text-align: center;
}
.update-btn {
  margin: 0;
  font-size: 0.8rem;
  padding: 0.1rem 1rem;
}
